@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body{
    background-color: #EEEEEE;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color:#006E7F;
}

img{
    width: 48px;
}


h2{
    font-family: 'Cairo', sans-serif;
    text-align: center;
    font-weight: bold;
}

h3{
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
}

.row> div{
    text-align: center;
}

hr {
    border: dotted #92A9BD 7px;
    border-bottom: none;
    width: 15%;
    margin: 35px auto;

}
.form-title{
    font-family: 'Lato', sans-serif;
}

.formulario{
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}